# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.po
*.cache
*.coverage
.coverage.*
.cache/
*.mypy_cache/
*.pytest_cache/

# Environnements virtuels
venv/
.env/
.venv/
ENV/
env/

# Fichiers lourds et temporaires
*.mp4
*.mkv
*.avi
*.mov
*.flv
*.wmv
*.mp3
*.wav
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.h5
*.pth
*.ckpt
*.pt
*.onnx
*.pb
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.pickle
*.pkl
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

# Autres
logs/
media/
uploads/
output/

!static/
!static/.gitkeep
!static/uploads/
!static/uploads/.gitkeep

# VSCode
.vscode/
